<main class="wel-main">
  <div class="wel-izq" id="welcome">
    <h2 class="text-titulo">H o l a !</h2>
    <h1 class="wel-h1">
      Soy <span class="span-Pablo">Pablo</span>
      <br />
      <span class="texto-dinamico" id="texto-dinamico">Olivera</span>
    </h1>
    <div class="g-contacto">
      <a class="h3-resumen" href="/CV.pdf" download>Resumen CV</a>

      <nav class="g-contact">
        <a
          class="icon iconhover"
          href="https://github.com/Pabl0l"
          target="_blank"
          rel="noreferrer"
          aria-label="Perfil de Github de Pabl0l"
        >
          <svg
            role="img"
            fill="#f5f5f5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>GitHub</title><path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path></svg
          >
        </a>
        <a
          class="icon iconhover"
          href="https://www.linkedin.com/in/pablo-olivera-451467292/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            role="img"
            fill="#f5f5f5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            ><title>LinkedIn</title><path
              d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
            ></path></svg
          >
        </a>
      </nav>
    </div>
  </div>

  <div class="g-photo">
    <img class="wel-img" src="/Vector.png" alt="Pabl0l Imagen" />
    <nav class="wel-nav">
      <a class="wel-a" href="#proyectos">Proyectos</a>
      <a class="wel-a" href="#sobremi">Sobre mí</a>
    </nav>
  </div>
</main>
<script>
  document.getElementById("contratame")?.addEventListener("click", () => {
    document.querySelectorAll(".icon").forEach((elemento) => {
      elemento.classList.remove("iconhover");
    });
    document?.querySelector(".g-contact")?.classList.add("contact-open");
  });

  const stats = [
    "{Desarrollador Web}",
    "Diseñador UI//UX",
    "-Digitalizador-",
    "Olivera.",
  ];
  const cambiarTextoDinamico = () => {
    const textoDinamico = document.getElementById("texto-dinamico");

    if (textoDinamico instanceof HTMLElement) {
      let index = 0;

      setInterval(() => {
        textoDinamico.textContent = stats[index];
        index = (index + 1) % stats.length;
      }, 3000);
    } else {
      console.error("El elemento 'texto-dinamico' no fue encontrado.");
    }
  };

  window.onload = cambiarTextoDinamico;
</script>
<style>
  .wel-main {
    height: 44.4dvw;
    display: flex;
  }
  .span-Pablo {
    font-family: "Chakra Petch", sans-serif;
  }
  .text-titulo {
    width: 20dvw;
    border-radius: 0px 15px 15px 0px;
    background-color: #f5f5f5;
    border: 1px solid #eb8526;
    box-shadow: 4px 4px 0px #eb8526;
    color: #eb8526;
    font-family: "Chakra Petch", sans-serif;
    padding: 2dvh 6dvw;
    height: fit-content;
    font-size: 2.3dvw;
  }
  .wel-izq {
    flex: 5;
    display: grid;
  }
  .wel-h1 {
    font-size: 6.3dvw;
    margin-top: 2dvw;
    text-shadow: 4px 4px #21243d;
    margin-left: 6dvw;
  }
  .icon {
    width: 4dvw;
    margin: -6px 24px;
    text-decoration: none;
    transition: all 0.5s;
  }
  .iconhover:hover {
    transform: scale(1.5);
  }

  .g-contacto,
  .g-contact {
    display: flex;
    box-sizing: border-box;
  }
  .g-contacto {
    margin-left: 6dvw;
    display: flex;
    justify-content: space-around;
  }
  .g-contact {
    box-shadow: 0px 0px #223;
    border: 0px solid #223;
    border-radius: 8px;
    padding: 10px 0px;
    margin: -10px 0px 0px;
    height: fit-content;
    transition:
      border 1.5s,
      box-shadow 2.5s;
  }
  .contact-open {
    box-shadow: 8px 8px #223;
    border: 2px solid #21243d;
  }
  .h3-resumen {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-size: 1.7dvw;
    padding: 0.5dvw 4dvw;
    border-radius: 5px;
    color: #eb8526;
    font-weight: 500;
    box-shadow: 4px 4px #21243d;
    height: 2.5dvw;
    width: 11dvw;
    transition: all 0.5s;
  }
  .h3-resumen:hover {
    transform: scale(1.3);
    box-shadow: 8px 8px #21243d;
  }
  .g-photo {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  .wel-a {
    font-size: 1.7dvw;
    color: #f5f5f5;
    font-weight: 500;
    transition: all 0.5s;
  }
  .wel-a:hover {
    transform: scale(1.3);
  }
  .wel-nav {
    display: flex;
    justify-content: space-around;
  }
  .wel-img {
    width: 29dvw;
    margin: 3.8dvw auto;
  }
  .texto-dinamico {
    font-size: 4.5rem;
  }
</style>
