---

---

<main class="screen wel-main">
  <div class="titulo">
    <h2 class="text-titulo">Bienvenid@!</h2>
  </div>
  <h1>Soy <span>Pablo</span> <br /> &#123;Web Developer&#125;</h1>
  <div class="g-resumen">
      <div class="cont-text resumen">
        <h3 class="h3-resumen h3-size">Resumen</h3>
    </div>
    <div class="upright-blue"></div>
  </div>
  <nav class="g-contact">
    <div class="butt-icon github"></div>
    <div class="butt-icon linkedin"></div>
  </nav>
  <div class="g-photo">
    <img class="wel-img" src="" alt="" />
    <nav class="g-butt">
      <a class="h3-size" href="#" target="_blank" rel="noopener noreferrer"
        >Proyectos</a
      >
      <a class="h3-size" href="#" target="_blank" rel="noopener noreferrer"
        >Sobre mí</a
      >
    </nav>
  </div>
</main>

<style></style>
