---
import Proyects from "../components/Proyects.astro";
const { titulo, color, imagen, descripcion, tecnologias, url, logo } =
  Astro.props;
---

<section>
  <div class="titulo t-blue">
    <h2 class="text-titulo tx-blue">Proyectos</h2>
  </div>
  <nav class="g-proyects">
    <Proyects
      titulo=""
      color=""
      imagen=""
      logo=""
      descripcion=""
      tecnologias=""
      url=""
    />
    <Proyects
      titulo=""
      color=""
      imagen=""
      logo=""
      descripcion=""
      tecnologias=""
      url=""
    />
    <Proyects
      titulo=""
      color=""
      imagen=""
      logo=""
      descripcion=""
      tecnologias=""
      url=""
    />
  </nav>
</section>
