---
import Proyects from "./Proyects.astro";
---

<section class="sec-proyects" id="proyectos">
  <div class="up-bar">
    <h2 class="text-titulo tx-blue">P r o y e c t o s</h2>
  </div>
  <div class="scroll-div" id="scroll-div">
    <div class="toggleScroll right-pad"></div>
    <div class="toggleScroll left-pad"></div>
    <nav class="g-proyects" id="g-proyects">
      <Proyects
        clase="proyect1"
        titulo="Andromeda App"
        color="#230443"
        imagen="/andromeda_page_ss.png"
        logo="/andromeda.jpg"
        descripcion="Un website inspirado en el espacio y propulsado por API's de la NASA."
        tecnologias={["html", "css", "js", "react", "axios"]}
        url="github.com/Pabl0l/andromeda_explorer"
      />
      <Proyects
        clase="proyect2"
        titulo="D. Una Delivery App"
        color="#FFAF4E"
        imagen="/d_una_page_ss.png"
        logo="/d_una_logo.png"
        descripcion="Aplicativo móvil para realizar todo tipo de pedidos a domicilio."
        tecnologias={[
          "html",
          "js",
          "css",
          "firebase",
          "mercado_pago",
          "twilio",
          "maps",
        ]}
        url="github.com/Pabl0l/d_una_page"
      />
      <Proyects
        clase="proyect3"
        titulo="CS3 by Pabl0l"
        color="#22B455"
        imagen="/cs3__by_pabl0l_ss.png"
        logo="/CS3.png"
        descripcion="Proyecto para practicar y mejorar mi maquetación en HTML y estilos en CSS."
        tecnologias={["html", "css", "js", "react", "axios", "postgres"]}
        url="github.com/Pabl0l/CSSStyles"
      />
    </nav>
  </div>
</section>

<style>
  .sec-proyects {
    height: fit-content;
    position: relative;
  }
  .up-bar {
    height: fit-content;
    justify-content: end;
    display: flex;
  }
  .text-titulo {
    width: 20dvw;
    border-radius: 15px 0px 0px 15px;
    background-color: #f5f5f5;
    border: 1px solid #21243d;
    box-shadow: 4px 4px 0px #21243d;
    color: #21243d;
    font-family: "Chakra Petch", sans-serif;
    padding: 2dvh 6dvw;
    height: fit-content;
    font-size: 2.3dvw;
    margin: 8px 0px;
  }
  .g-proyects {
    display: flex;
    flex-direction: column;
    width: fit-content;
    overflow-x: auto;
    height: fit-content;
    margin: auto;
  }
  .scroll-div {
    overflow-x: hidden;
  }
  .toggleScroll {
    position: absolute;
    height: 80%;
    top: 16%;
    width: 9.2dvw;
    display: flex;
    z-index: 100;
  }
  .left-pad {
    left: 0%;
  }
  .right-pad {
    right: -0.5%;
  }
  .bkas {
    display: none;
  }
  @media (max-width: 811px) {
    .text-titulo {
      font-size: 1.3rem;
      width: 50%;
      box-shadow: 2px 2px 0px #eb8526;
      border: 1px solid #eb8526;
      color: #eb8526;
    }
    .g-proyects {
      margin: 0;
      width: 100%;
    }
  }
</style>
