<section>
  <div class="titulo">
    <h2 class="text-titulo">Sobre mí</h2>
  </div>
  <div class="cont-text contratame">
    <h3 class="h3-contratame h3-size">Contrátame</h3>
  </div>
  <article class="sm-detalles">
    <div class="div-sm sm-a">
      <p>
        Hola! Soy Pablo Olivera, Desarrollador Web Full Stack con experiencia en
        la gestión y desarrollo de D. UNA Delivery App, me he especializado en
        JavaScript, utilizando sus librerías y frameworks para crear
        herramientas y soluciones efectivas.
        <br />
        Durante mi tiempo en D. UNA, perfeccioné habilidades de programación y fortalecí
        habilidades blandas al colaborar con asociados y clientes. <br />
        Ahora como freelancer, continúo mejorando mis habilidades técnicas y blandas
        para proporcionar soluciones sólidas, comprometido con la excelencia y claridad
        en cada proyecto.
      </p>
      <div class="div-sm sm-b"></div>
      <div class="div-sm sm-c"></div>
    </div>
  </article>
  <article class="sm-habilidades">
    <div class="g-habilidades">
      <div class="rightdown"></div>
      <div class="cont-text">
        <h4>Habilidades</h4>
      </div>
      <div class="div-sm">
        <h4>Ingles</h4>
        <progress> </progress>
        <h4>Concentración</h4>
        <progress> </progress>
        <h4>Adaptabilidad</h4>
        <progress> </progress>
        <h4>Trabajo en equipo</h4>
        <progress> </progress>
        <h4>Comunicación</h4>
        <progress> </progress>
      </div>
    </div>
    <div class="g-backend">
      <div class="rightdown"></div>
      <div class="cont-text">
        <h4>Backend</h4>
      </div>
      <div class="div-sm">
        <div class="h-icon"></div>
      </div>
    </div>
    <div class="g-otros">
      <div class="rightdown"></div>
      <div class="cont-text">
        <h4>Otros</h4>
      </div>
      <div class="div-sm">
        <div class="h-icon"></div>
        <div class="h-icon"></div>
        <div class="h-icon"></div>
      </div>
    </div>
    <div class="g-frontend">
      <div class="rightdown"></div>
      <div class="cont-text">
        <h4>Frontend</h4>
      </div>
      <div class="div-sm">
        <div class="h-icon"></div>
        <div class="h-icon"></div>
        <div class="h-icon"></div>
      </div>
    </div>
  </article>
</section>
