---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Pablo Olivera" />
    <meta name="OG:TTTLE" content={title} />
    <meta name="OG:IMAGE" content="/og_port_img.png" />
    <meta
      name="OG:DESCRIPTION"
      content="Hola! Soy Pablo Olivera, Desarrollador Web Full Stack con experiencia
    en la gestión y desarrollo de D. UNA Delivery App, me he especializado
    en JavaScript, utilizando sus librerías y frameworks para crear
    herramientas y soluciones efectivas."
    />
    <meta
      name="keyword"
      content="Programador Full Stack, Desarrollador Web, Diseño Web, Colombia Full Stack"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <div class="org-blck"></div>
  </body>
</html>

<style>
  /*COLORES:
  Fondo azul: #21243d.
  Naranja: #EB8526. 
  D.UNA: #FFAF4E.
  Rojo: #F00.
  VERDE: #22B455

  FUENTES:
  Chakra Petch
  Kanit
  */
  .org-blck {
    background-color: #eb8526;
    transform: rotate(24deg);
    width: 398dvw;
    height: 170dvh;
    display: flex;
    position: absolute;
    top: 1%;
    right: -94%;
    z-index: -1;
  }
  body {
    overflow-x: hidden;
    position: relative;
    font-family: monospace, sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 100dvw;
    height: fit-content;
    background-color: #21243d;
    margin: 0px;
    padding: 0px;
    color: #f5f5f5;
    user-select: none;
  }
  @media (max-width: 811px) {
    .org-blck {
      top: 14%;
    }
  }
</style>
